body {
    background-image: url('../img/main.jpg');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
}

.first-content{
    padding-top: 50px;
    padding-bottom: 200px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    padding-bottom: 50px;
}

#carousel-5 h5 {
    background-color: black;
}

#carousel-5 p {
    background-color: black;
}

p {
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}

h5 {
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}


.list-group-item {
    text-align: center;
    color: white;
    background-color: rgba(129, 155, 192, 0);
    font-size: 40px;
}

.list-group-item:hover {
    opacity: 0.3;
}

.carousel-container {
    display: none;
}

footer{
    font-size: 15px;
}

footer a{
    color: white;
}

.fa-brands{
    font-size: 20px;
    margin: 0 5px;
}

.fa-solid {
    font-size: 20px;
    margin: 0 5px;
}

.topButton{
    font-size: 20px;
    position: fixed;
    bottom: 60px;
    left: 20px;
}

.topButton button {
    border: none;
    background-color: #212529;
    color: white;
    border-radius: 50%;
}



/* Стили для всплывающего окна чата */
#chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding: 10px;
}

#chat-popup input[type="text"] {
    width: 80%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#chat-popup button {
    background-color: #212529;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#chat-popup button:hover {
    opacity: 0.8;
}

/* Стили для кнопки "Открыть чат" */
#open-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #212529;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#open-chat-button:hover {
    opacity: 0.8;
}