.movieCard{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.movieCard .movieName{
    align-self: start;
    font-size: 15px;
    margin: 10px 0;
    text-align: start;
}

.movieCard .movieTags{
    align-self: start;
    color:gray;
    font-size: 15px;
    text-align: start;

}

.movieCard img{
    height: 30vw;
}

footer{
    font-size: 15px;
}

footer a{
    color: white;
}

.fa-brands{
    font-size: 20px;
    margin: 0 5px;
}

.topButton{
    font-size: 20px;
    position: fixed;
    bottom: 60px;
    left: 20px;
}

.topButton button {
    border: none;
    background-color: #212529;
    color: white;
    border-radius: 50%;
}

.modal-box{
    
}

@media only screen and (max-width: 767px) {
    .movieCard img{
        height: 100vw;
    }
  }