.movieCard{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.movieCard:hover{
    cursor: pointer;
}

.movieCard .movieName{
    align-self: start;
    font-size: 15px;
    margin: 10px 0;
    text-align: start;
}

.movieCard .movieTags{
    align-self: start;
    color:gray;
    font-size: 15px;
    text-align: start;

}

.movieCard img{
    height: 30vw;
}

footer{
    font-size: 15px;
}

footer a{
    color: white;
}

.fa-brands{
    font-size: 20px;
    margin: 0 5px;
}

.topButton{
    font-size: 20px;
    position: fixed;
    bottom: 60px;
    left: 20px;
}

.topButton button {
    border: none;
    background-color: #212529;
    color: white;
    border-radius: 50%;
}


#movieInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modalBox .movieCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#modalBox{
    background-color: aliceblue;
    position: fixed;
    top: 10%;
    left: 8.5%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    border-radius: 2%;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }



@media only screen and (max-width: 767px) {
    .movieCard img{
        height: 100vw;
    }
  }

  @media only screen and (max-width: 803px) {
       #trailer{
        width: 75vw;
       }
  }

  /* Стили для всплывающего окна чата */
#chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding: 10px;
}

#chat-popup input[type="text"] {
    width: 80%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#chat-popup button {
    background-color: #212529;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#chat-popup button:hover {
    opacity: 0.8;
}

/* Стили для кнопки "Открыть чат" */
#open-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #212529;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#open-chat-button:hover {
    opacity: 0.8;
}